OPENAI_API_KEY=
OPENAI_BASE_URL=
LLM_MODEL=gpt-4o-mini
VISION_MODEL=gpt-4o
EMBEDDING_MODEL=text-embedding-3-large
EMBEDDING_DIM=3072

MLS_ENV=development
MLS_DATA_DIR=./data
MLS_RAG_WORKING_DIR=./rag_storage
MLS_RAG_PARSER=mineru
